 
 
 
 .image3 img{
    height:400px;
    margin-top:16%;
    width:20%;
    margin-left:60%
  }
  .image4 img{
    height:300px;
    margin-top:-40%;
    width:20%;
    margin-left:40%
  }
  
  .About .p1{
margin-top:-40%;
margin-left:-65%;
font-size:25px;
font-weight: bold;
  }
  /* .About .p2{
    margin-left:-50%
      } */
      .About .p31{
        margin-left:3%;
        width:55%
          }
          .About .p32{
            margin-left:3%;
            width:55%
              }
              .About .p33{
                margin-left:3%;
                width:55%
                  }
                  .About .p34{
                    margin-left:3%;
                    width:55%
                      }
                      .About .p35{
                        margin-left:3%;
                        width:55%
                          }
                          .About .p36{
                            margin-left:3%;
                            width:55%
                              }
                              .About .p37{
                                margin-left:3%;
                                width:55%
                                  }

