.imag img{
    width:35%;
    height:500px;
    margin-left:-48%;
    margin-top:-5%

}
.paraa{
    margin-top: -40%;
    margin-left: 5%;
   
    font-size:25px;
    font-weight: bold;

}


/* .he{
    margin-left: 15%;
} */
.paraa2{
    margin-left: 48%;
    /* width: 50%; */
}
.new1{
    margin-left: -85%;
 
    
}
.new2{
    margin-left: -85%;
}
.new3{
    margin-left: -85%;
}
.new4{
    margin-left:-80%;
}
.new5{
    margin-left: -85%;
}
.new6{
    margin-left: -85%;
}
.paraa21{
    margin-top: -3%;
   
    margin-left: -8%;
}.paraa22{
    margin-top: -3%; margin-left: -8%;
}.paraa23{
    margin-top: -3%; margin-left: -8%;
}.paraa24{
    margin-top: -3%; margin-left: -8%;
}.paraa25{
    margin-top: -3%; margin-left: -8%;
}.paraa26{
    margin-top: -3%; margin-left: -8%;
}