.imag img {
    width: 35%;
    height: 500px;
    margin-left: -55%;
    margin-top: -5%;border-radius: 2%;
}

.paraa {
    margin-top: -40%;
    margin-left: 5%;
    color: orange;
    font-size: 25px;
    font-weight: bold;
}

.paraa2 {
    margin-left: 48%;
}

.new1 {
    margin-left: -85%;


}

.new2 {
    margin-left: -90%;
}

.new3 {
    margin-left: -92%;
}

.new4 {
    margin-left: -83%;
}

.new5 {
    margin-left: -92%;
}

.new6 {
    margin-left: -86%;
}

.paraa21 {
    margin-top: -2%;
    text-align: start;
    margin-left: -6.5%;
}

.paraa22 {
    margin-top: -2%;
    text-align: start;
    margin-left: -6.5%;
}

.paraa23 {
    margin-top: -2%;
    text-align: start;
    margin-left: -6.5%;
}

.paraa24 {
    margin-top: -2%;
    text-align: start;
    margin-left: -6.5%;
}

.paraa25 {
    margin-top: -2%;
    text-align: start;
    margin-left: -6.5%;
}

.paraa26 {
    margin-top: -2%;
    text-align: start;
    margin-left: -6.5%;
}


@media screen and (max-width:1420px) {
    .imag img {
        width: 35%;
        height: 500px;
        margin-left: -64%;
        margin-top: -5%
    }

    .paraa {
        margin-top: -45%;
        margin-left: -12%;
        color: orange;
        font-size: 25px;
        font-weight: bold;

    }

    .paraa2 {
        margin-left: 41%;
        /* width: 50%; */
    }

}

@media screen and (max-width:1200px) {
    .imag img {
        width: 35%;
        height: 500px;
        margin-left: -64%;
        margin-top: -5%
    }

    .paraa {
        margin-top: -58%;
        margin-left: -12%;
        color: orange;
        font-size: 25px;
        font-weight: bold;

    }
}

@media screen and (max-width:1000px) {
    .imag img {
        width: 35%;
        height: 500px;
        margin-left: -64%;
        margin-top: 5%
    }

    .paraa {
        margin-top: -66%;
        margin-left: -10%;
        color: orange;
        font-size: 25px;
        font-weight: bold;

    }

    .paraa2 {
        margin-left: 43%;
        /* width: 50%; */
    }
}

@media screen and (max-width:950px) {
    .paraa {
        margin-top: -70%;
        margin-left: -10%;
        color: orange;
        font-size: 25px;
        font-weight: bold;

    }
}

@media screen and (max-width:890px) {
    .paraa {
        margin-top: -75%;
        margin-left: -8%;
        color: orange;
        font-size: 25px;
        font-weight: bold;

    }

    .paraa2 {
        margin-left: 44%;
    }
}

@media screen and (max-width:820px) {
    .paraa {
        margin-top: -80%;
        margin-left: -8%;
        color: orange;
        font-size: 25px;
        font-weight: bold;

    }

    .paraa2 {
        margin-left: 44%;
    }

    .new4 {
        margin-left: -78%;
    }
}

@media screen and (max-width:800px) {
    .imag img {
        width: 60%;
        height: 500px;
        margin-left: -14%;
        margin-top: -50%
    }

    .paraa {
        margin-top: -170%;
        margin-left: -71%;
        color: orange;
        font-size: 25px;
        font-weight: bold;

    }

    .paraa2 {
        margin-left: 8%;
    }

    .paraa21 {
        margin-top: -2%;
        text-align: start;
        margin-left: -6.5%;
        width: 90%;
    }

    .paraa22 {
        margin-top: -2%;
        text-align: start;
        margin-left: -6.5%;
        width: 90%;
    }

    .paraa23 {
        margin-top: -2%;
        text-align: start;
        margin-left: -6.5%;
        width: 90%;
    }

    .paraa24 {
        margin-top: -2%;
        text-align: start;
        margin-left: -6.5%;
        width: 90%;
    }

    .paraa25 {
        margin-top: -2%;
        text-align: start;
        margin-left: -6.5%;
        width: 90%;
    }

    .paraa26 {
        margin-top: -2%;
        text-align: start;
        margin-left: -6.5%;
        width: 90%;
    }
}

@media screen and (max-width:765px) {
    .imag img {
        width: 60%;
        height: 500px;
        margin-left: -14%;
        margin-top: -60%
    }

    .paraa {
        margin-top: -180%;
        margin-left: -71%;
        color: orange;
        font-size: 25px;
        font-weight: bold;

    }


}

@media screen and (max-width:725px) {
    .imag img {
        width: 60%;
        height: 500px;
        margin-left: -14%;
        margin-top: -60%
    }

    .paraa {
        margin-top: -190%;
        margin-left: -71%;
        color: orange;
        font-size: 25px;
        font-weight: bold;

    }
}

@media screen and (max-width:700px) {
    .imag img {
        width: 60%;
        height: 500px;
        margin-left: -14%;
        margin-top: -60%
    }

    .paraa {
        margin-top: -210%;
        margin-left: -71%;
        color: orange;
        font-size: 25px;
        font-weight: bold;

    }

    .paraa2 {
        margin-left: 10%;
    }
}

@media screen and (max-width:660px) {
    .imag img {
        width: 60%;
        height: 500px;
        margin-left: -14%;
        margin-top: -67%
    }

    .paraa {
        margin-top: -220%;
        margin-left: -71%;
        color: orange;
        font-size: 25px;
        font-weight: bold;

    }
}

@media screen and (max-width:640px) {

    .paraa {
        margin-top: -230%;
        margin-left: -71%;
        color: orange;
        font-size: 25px;
        font-weight: bold;

    }

    .paraa2 {
        margin-left: 12%;
    }
}

@media screen and (max-width:620px) {

    .paraa {
        margin-top: -240%;
        margin-left: -71%;
        color: orange;
        font-size: 25px;
        font-weight: bold;

    }

    .paraa2 {
        margin-left: 12%;
    }
}


@media screen and (max-width:600px) {
    .imag img {
        width: 60%;
        height: 500px;
        margin-left: -14%;
        margin-top: -73%
    }

    .paraa {
        margin-top: -260%;
        margin-left: -65%;
        color: orange;
        font-size: 25px;
        font-weight: bold;

    }

    .paraa2 {
        margin-left: 15%;
    }
}

@media screen and (max-width:575px) {
    .imag img {
        width: 60%;
        height: 500px;
        margin-left: -14%;
        margin-top: -76%
    }

    .paraa {
        margin-top: -270%;
        margin-left: -65%;
        color: orange;
        font-size: 25px;
        font-weight: bold;

    }

    .paraa21 {
        margin-top: -2%;
        text-align: start;
        margin-left: -15%;
        width: 90%;
    }

    .paraa22 {
        margin-top: -2%;
        text-align: start;
        margin-left: -15%;
        width: 90%;
    }

    .paraa23 {
        margin-top: -2%;
        text-align: start;
        margin-left: -15%;
        width: 90%;
    }

    .paraa24 {
        margin-top: -2%;
        text-align: start;
        margin-left: -15%;
        width: 90%;
    }

    .paraa25 {
        margin-top: -2%;
        text-align: start;
        margin-left: -15%;
        width: 90%;
    }

    .paraa26 {
        margin-top: -2%;
        text-align: start;
        margin-left: -15%;
        width: 90%;
    }
}

@media screen and (max-width:560px) {
    .imag img {
        width: 60%;
        height: 500px;
        margin-left: -14%;
        margin-top: -78%
    }

    .paraa {
        margin-top: -280%;
        margin-left: -65%;
        color: orange;
        font-size: 25px;
        font-weight: bold;

    }
}

@media screen and (max-width:545px) {
    .imag img {
        width: 60%;
        height: 500px;
        margin-left: -14%;
        margin-top: -81%
    }

    .paraa {
        margin-top: -290%;
        margin-left: -65%;
        color: orange;
        font-size: 25px;
        font-weight: bold;

    }
}


@media screen and (max-width:535px) {
    .imag img {
        width: 60%;
        height: 500px;
        margin-left: -14%;
        margin-top: -83%
    }

    .paraa {
        margin-top: -300%;
        margin-left: -65%;
        color: orange;
        font-size: 25px;
        font-weight: bold;

    }
}

@media screen and (max-width:520px) {
    .imag img {
        width: 60%;
        height: 500px;
        margin-left: -14%;
        margin-top: -86%
    }

    .paraa {
        margin-top: -310%;
        margin-left: -65%;
        color: orange;
        font-size: 25px;
        font-weight: bold;

    }
}

@media screen and (max-width:510px) {
    .imag img {
        width: 78%;
        height: 480px;
        margin-left: -3%;
        margin-top: -89%
    }

    .paraa {
        margin-top: -320%;
        margin-left: -65%;
        color: orange;
        font-size: 25px;
        font-weight: bold;

    }
}

@media screen and (max-width:495px) {
    .imag img {
        width: 78%;
        height: 480px;
        margin-left: -3%;
        margin-top: -93%
    }

    .paraa {
        margin-top: -340%;
        margin-left: -55%;
        color: orange;
        font-size: 25px;
        font-weight: bold;

    }

    .paraa2 {
        margin-left: 17%;
    }
}

@media screen and (max-width:485px) {

    .paraa {
        margin-top: -350%;
        margin-left: -55%;
        color: orange;
        font-size: 25px;
        font-weight: bold;

    }

    .new1 {
        margin-left: -80%;


    }
}

@media screen and (max-width:468px) {

    .paraa {
        margin-top: -360%;
        margin-left: -55%;
        color: orange;
        font-size: 25px;
        font-weight: bold;

    }
}

@media screen and (max-width:455px) {

    .paraa {
        margin-top: -370%;
        margin-left: -55%;
        color: orange;
        font-size: 25px;
        font-weight: bold;

    }
}

@media screen and (max-width:447px) {

    .paraa {
        margin-top: -380%;
        margin-left: -55%;
        color: orange;
        font-size: 25px;
        font-weight: bold;

    }
}

@media screen and (max-width:440px) {
    .imag img {
        width: 78%;
        height: 480px;
        margin-left: -3%;
        margin-top: -98%
    }

    .paraa {
        margin-top: -390%;
        margin-left: -55%;
        color: orange;
        font-size: 25px;
        font-weight: bold;

    }
}

@media screen and (max-width:435px) {

    .paraa {
        margin-top: -400%;
        margin-left: -55%;
        color: orange;
        font-size: 25px;
        font-weight: bold;

    }

    .new6 {
        margin-left: -70%;
    }

    .new4 {
        margin-left: -70%;
    }

    .new1 {
        margin-left: -70%;
    }
}

@media screen and (max-width:430px) {
    .imag img {
        width: 78%;
        height: 480px;
        margin-left: -3%;
        margin-top: -100%
    }

    .paraa {
        margin-top: -430%;
        margin-left: -55%;
        color: orange;
        font-size: 25px;
        font-weight: bold;

    }
}

@media screen and (max-width:410px) {
    .imag img {
        width: 78%;
        height: 480px;
        margin-left: -3%;
        margin-top: -110%
    }

    .paraa {
        margin-top: -450%;
        margin-left: -40%;
        color: orange;
        font-size: 25px;
        font-weight: bold;

    }

    .new1 {
        margin-left: -60%;
    }

    .new2 {
        margin-left: -70%;
    }

    .new3 {
        margin-left: -75%;
    }

    .new4 {
        margin-left: -60%;
    }

    .new5 {
        margin-left: -75%;
    }

    .new6 {
        margin-left: -60%;
    }
}

@media screen and (max-width:380px) {
    .imag img {
        width: 78%;
        height: 460px;
        margin-left: -3%;
        margin-top: -130%
    }

    .paraa {
        margin-top: -500%;
        margin-left: -40%;
        color: orange;
        font-size: 25px;
        font-weight: bold;

    }
}

@media screen and (max-width:400px) {
    .imag img {
        width: 78%;
        height: 400px;
        margin-left: -3%;
        margin-top: -130%
    }

    .paraa {
        margin-top: -480%;
        margin-left: -40%;
        color: orange;
        font-size: 25px;
        font-weight: bold;

    }
}

@media screen and (max-width:365px) {
    .imag img {
        width: 78%;
        height: 460px;
        margin-left: -3%;
        margin-top: -130%
    }

    .paraa {
        margin-top: -540%;
        margin-left: -40%;
        color: orange;
        font-size: 25px;
        font-weight: bold;

    }
}